.not_found_container {
  text-align: center;
  background-color: #415a77;
  color: #e0e1dd;
  padding: 40px 20px;
}

.go_home_link {
  text-decoration: none;
  color: #1b263b;
  font-weight: bold;
}

.go_home_link:hover {
  text-decoration: underline;
}
